{
    "env": {
      "browser": true,
      "es2021": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended",
      "plugin:tailwindcss/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": "latest",
      "sourceType": "module"
    },
    "settings": {
      "react": {
        "version": "detect"
      },
      "tailwindcss": {
        "callees": ["cn"]
      }
    },
    "plugins": ["@typescript-eslint", "react", "react-hooks"],
    "rules": {
      "tailwindcss/migration-from-tailwind-2": 0,
      "tailwindcss/classnames-order": "off",
      "tailwindcss/no-custom-classname": ["error"],
      "@typescript-eslint/no-unused-vars": "error",
      "react/react-in-jsx-scope": "off",
      "react/display-name": 0,
      "newline-before-return": "error",
      "@typescript-eslint/naming-convention": [
        "error",
        {
          "selector": "typeLike",
          "format": ["PascalCase"]
        }
      ],
      "react/boolean-prop-naming": [
        "error",
        {
          "rule": "^is[A-Z]([A-Za-z0-9]?)+",
          "validateNested": true
        }
      ],
      "react/destructuring-assignment": [
        "error",
        "always",
        {
          "destructureInSignature": "always"
        }
      ]
    }
  }